<article class="first-entry home-info">
  <header class="entry-header">
    <h1>Hello!</h1>
  </header>
  <div class="entry-content">
    <br>
      This blog has some stuff I’ve written over the years - on topics like math, algorithms, pedagogy, low-level programming, Linux, compilers and other things I like to talk about.</br>
    <br>
      For any comments, reach out to me at nor [dot] xor [dot] nor at gmail [dot] com. I am also on Twitter (@norxornor), but might be less responsive there.</br>
    <br>
      To subscribe via RSS, copypaste the link to the RSS page in your favourite RSS reader. Each tag also has its own RSS feed.</br>
  </div>
</article>
